#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate

# Root password
rootpw --iscrypted $6$5tNvDS1mBrDzA6LA$gLtZWPlQM3y/Nv0yrPEus4uSIlYLn/F64s2SSJOi5VX5zKznPr4jRebOwG5h7/FYhervFpncBruoZv404PB6m/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=kevin --password=$6$hFPODGxyNnmk/.5H$m8HY02OR1PPe0YpzGVG53Xfp6YSJRKm8ClThkU7dOB/Xj2SKR.GXfOV7lC1ICfZhf55C3YKdm1m8vsLQY6wGJ0 --iscrypted --gecos="kevin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=1024
part pv.156 --fstype="lvmpv" --ondisk=vda --size=1 --grow
volgroup centos --pesize=4096 pv.156
logvol /  --fstype="xfs" --grow --size=1 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos

%packages
@^minimal
@core
chrony
kexec-tools
epel-release
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
/bin/yum install -y puppet
/bin/puppet agent --test --waitforcert 300
%end
